<nav class="nav" data-topbar role="navigation">
  <section class="top-bar-section">
    <ul class="right">
        <li><a routerLink="/inicio" routerLinkActive="active"><i class="fi-home"></i>&nbsp;&nbsp;&nbsp;Inicio</a></li>
        <li style="color: white;">|</li>
        <li><a routerLink="/solicitar" routerLinkActive="active"><i class="fi-page-export"></i>&nbsp;&nbsp;&nbsp;Solicitar cita</a></li>
        <li style="color: white;">|</li>
        <li><a routerLink="/miscitas" routerLinkActive="active"><i class="fi-page-filled"></i>&nbsp;&nbsp;&nbsp;Mis citas</a></li>
        <li style="color: white;">|</li>
        <li><a href="http://davidrod.uva.es/consultasmedicasweb/index.php/logout" ><i class="fi-x"></i>&nbsp;&nbsp;&nbsp;Salir</a></li>
    </ul>
  </section>
</nav>
<router-outlet></router-outlet>
