<nav class="nav" data-topbar role="navigation">
  <section class="top-bar-section">
    <ul class="right">
        <li><a routerLink="/solicitar" routerLinkActive="active"><i class="fi-magnifying-glass"></i>&nbsp;&nbsp;&nbsp;Solicitar cita</a></li>
        <li><a routerLink="/miscitas" routerLinkActive="active"><i class="fi-magnifying-glass"></i>&nbsp;&nbsp;&nbsp;Mis citas</a></li>
        <li><a routerLink="/inicio" routerLinkActive="active"><i class="fi-home">&nbsp;&nbsp;&nbsp;inicio</i></a></li>
        <li><a href="http://davidrod.uva.es/consultasmedicasweb/index.php/logout" ><i class="fi-exit">&nbsp;&nbsp;&nbsp;salir</i></a></li>
    </ul>
  </section>
</nav>
<router-outlet></router-outlet>
