<!-- Spinner -->
<div *ngIf="spinner"  class="grid-container">
  <div class="grid-x grid-padding-x ">
    <div class="cell">
      <p>Cargando datos... Espere por favor</p>
    </div>
  </div>
</div>

<!-- cita -->
<div *ngIf="cita" class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell" *ngIf="cita != false">
      <div class="card">
        <div class="card-divider">
          <h4>{{cita.nombre}}</h4>
          <p>{{cita}}</p>
        </div>
        <div class="card-section">
          <p>{{cita.localizacion}}</p>
          <p>{{cita.telefono}}</p>
          <p>{{cita.email}}</p>
        </div>
        <div class="card-section">
          <h4>Día de la cita</h4>
          <p>{{cita.fecha}} de {{cita.start_time}} a {{cita.end_time}}</p>
        </div>
        <div class="card-section">
          <button (click)="onAnularCita(cita)">Anular cita</button>
        </div>
      </div>
    </div>
    <div class="cell" *ngIf="cita == false">
      <p>No hay ninguna cita </p>
    </div>
  </div>
</div>
